@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-main: var(--font-inter), sans-serif;
  --font-mono: var(--font-fira-mono), monospace;

  --color-border-dark: oklch(0.3596 0.0074 264.48);
  --color-accent-dark: oklch(0.8123 0.0646 230.66);
  --color-background-dark: oklch(0.2097 0.008 274.53);
  --color-text-dark: oklch(1 0 0);
  --color-dull-dark: oklch(0.8975 0 0);
  --color-active-dark: oklch(0.3287 0.0109 236.93);
  --color-surface-1-dark: oklch(0.3528 0.007 274.78);
  --color-surface-2-dark: oklch(0.2399 0.0078 274.62);
  --color-surface-3-dark: oklch(0.2211 0.0078 274.62);

  --radius-default: 20px;
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }

  .col-center {
    @apply flex justify-center items-center flex-col;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .col {
    @apply flex flex-col;
  }

  .full {
    @apply w-full h-full;
  }

  .screen {
    @apply w-screen h-screen;
  }

  .gap-sm {
    @apply gap-[1.375rem];
  }

  .gap-md {
    @apply gap-[2.625rem];
  }

  .gap-xl {
    @apply gap-[7.5rem];
  }

  .px-md {
    @apply px-[2.625rem];
  }

  .bg-default {
    @apply bg-[#f1efeb];
  }

  .padding {
    @apply px-[5%];
  }

  .spacing {
    @apply w-full flex flex-col justify-center items-center gap-3 px-[5%];
  }
}
